.vjs-related-carousel-holder {
  position: absolute;
  width: 100%;
  bottom: 30px;
  text-align: center;

  height: 0;
  overflow: hidden;
  z-index: 10;

  -webkit-transition: height 0.25s ease-out;
  -moz-transition: height 0.25s ease-out;
  -ms-transition: height 0.25s ease-out;
  -o-transition: height 0.25s ease-out;
  transition: height 0.25s ease-out;
}

.carousel-background {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.75;
  background: rgb(43, 51, 63);
  width: 100%;
  height: 100%;
}

.vjs-related-carousel-holder.active {
  height: 150px;
  -webkit-transition: height 0.25s ease-in;
  -moz-transition: height 0.25s ease-in;
  -ms-transition: height 0.25s ease-in;
  -o-transition: height 0.25s ease-in;
  transition: height 0.25s ease-in;
}

.vjs-carousel-viewport {
  position: relative;
  height: 150px;
}

.carousel-items {
  width: 1000%;
  list-style: none;
  position: relative;
  height: 150px;
  padding-left: 50px;
  left: 0;

  -webkit-transition: left 0.25s linear;
  -moz-transition: left 0.25s linear;
  -ms-transition: left 0.25s linear;
  -o-transition: left 0.25s linear;
  transition: left 0.25s linear;
}

.carousel-item {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
  width: 156px;
  float: left;
}

.vjs-carousel-left-button, .vjs-carousel-right-button {
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  display: table;
  cursor: pointer;
  opacity: 0.5;
  background: rgb(43, 51, 63);
}

.vjs-carousel-left-button {
  left: 0;
}

.vjs-carousel-right-button {
  right: 0;
}

.vjs-carousel-left-button div, .vjs-carousel-right-button div {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-size: 5em;
}

.vjs-related-carousel-holder h5 {
  margin: 0.2em;
}

/* Hide the carousel when the video is playing and the user is inactive  */
.vjs-default-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-related-carousel-holder {
  visibility: hidden;
  opacity: 0;
}

.vjs-carousel-thumbnail {
  width: 10%;
  opacity: 1;
  margin: 2px;
}

.vjs-default-skin .vjs-related-carousel-button {
  cursor: pointer;
}

.vjs-related-carousel-button:before {
  content: "\e00d";
}

.vjs-fade-out {
  display: block;
  visibility: hidden;
  opacity: 0;

  -webkit-transition: visibility 1.5s, opacity 1.5s !important;
  -moz-transition: visibility 1.5s, opacity 1.5s !important;
  -ms-transition: visibility 1.5s, opacity 1.5s !important;
  -o-transition: visibility 1.5s, opacity 1.5s !important;
  transition: visibility 1.5s, opacity 1.5s !important;

  /* Wait a moment before fading out the control bar */
  -webkit-transition-delay: 2s !important;
  -moz-transition-delay: 2s !important;
  -ms-transition-delay: 2s !important;
  -o-transition-delay: 2s !important;
  transition-delay: 2s !important;
}

.vjs-default-skin.vjs-user-inactive .vjs-related-carousel-holder {
  display: block;
  visibility: hidden;
  opacity: 0;

  -webkit-transition: visibility 1.5s, opacity 1.5s !important;
  -moz-transition: visibility 1.5s, opacity 1.5s !important;
  -ms-transition: visibility 1.5s, opacity 1.5s !important;
  -o-transition: visibility 1.5s, opacity 1.5s !important;
  transition: visibility 1.5s, opacity 1.5s !important;
}
